<app-header></app-header>
<section class="countryFilters">
    <input class="countrySearch" type="text" placeholder="Search for a country…">

        <!-- <p>Filter by Reigon</p> -->
    <select class="dropDownContent" id="dropDownContent" >
        <option selected disabled>Filter by Reigon</option>
        <option value="Africa" >Africa</option>
        <option value="Americas">Americas</option>
        <option value="Asia">Asia</option>
        <option value="Europe">Europe</option>
        <option value="Oceania">Oceania</option>
    </select>

    
</section>