/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    --text-Color: #111517;
    --background-ColorItems: #FFF;
    --background-Color: #F2F2F2;
}

body.DarkTheme{
    --text-Color: #FFF;
    --background-ColorItems: #2B3844;
    --background-Color: #202C36;
}

body .headerContainer{
    background-color: var(--background-ColorItems);
}

body.DarkTheme .headerContainer{
    background-color: var(--background-ColorItems);
}

body{
    color: var(--text-Color);
    background-color: var(--background-Color);
}
body.DarkTheme{
    color: var(--text-Color);
    background-color: var(--background-Color);
}

body select{
    background-color: var(--background-Color);
}




body.DarkTheme select{
    color: var(--text-Color);
    background-color: var(--background-Color);
}

body.DarkTheme .moonThemeIcon{
    filter:invert(1)
}


body .countryFilters{
    background-color: var(--background-Color);
}
body.DarkTheme .countryFilters{
    background-color: var(--background-Color);
}

body .dropDownContent, body .countrySearch{
    background-color: var(--background-ColorItems);
}

body.DarkTheme .dropDownContent {
    background-color: var(--background-ColorItems);
}

body .countrySearch{
    color: var(--text-Color) !important;
    background-color: var(--background-ColorItems) !important;
}
body .countrySearch::placeholder{
    color: var(--text-Color) !important;
}

body.DarkTheme .countrySearch {
    color: var(--text-Color) !important;
    background-color: var(--background-ColorItems) !important;
}

body.DarkTheme .countrySearch::placeholder{
    color: var(--text-Color) !important;
}


body .grid-container{
    background-color: var(--background-Color);
}

body.DarkTheme .grid-container {
    background-color: var(--background-Color);
}

body .textContainer{
    background-color: var(--background-ColorItems);
}

body.DarkTheme .textContainer{
    background-color: var(--background-ColorItems);
}

body .countryStats {
    color: var(--text-Color);
}

body.DarkTheme .countryStats{
    color: var(--text-Color);
}


body.DarkTheme .backbutton{
    background-color: var(--background-ColorItems);
}

body.DarkTheme .backArrow{
    filter: invert(1);
}


body .countryContainer{
    background-color: var(--background);
}

body.DarkTheme .countryContainer{
    background-color: var(--background);
}

